.UserProfile {
    min-width: 200px;
    max-width: 200px;
    text-align: center;

    > * {
        margin: 0 auto;
    }

    &__picture {
        width: 150px;
        height: 150px;
        display: flex;
        border-radius: 100%;
        box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.3);;
    }

    &__title {
        font-size:1.3rem;
    }

    &__name {
        font-size:0.7rem;
    }

    &__text {
        font-size: 1rem;    
        margin: 5px auto;
        width: 100%;
        text-align: center;
        display: flex;
        &--link {
            color:blue;
            text-decoration: underline;
        }    

        &--bold {
            font-weight: bolder;
        }

        &--light {
            font-size:0.7rem;
            color: rgba(0,0,0,0.7);
        }
    }

    
    &__follow {
        &__list {
            padding: 0 20px;
            margin-top: 10px;
            
            &__item {
                width: 60px;
                padding: 10px;
                display: inline-flex;
            }
        }
    }

}