$small-screen: 500px;
.User {
    &__row {

        display: inline-flex;
        &--divider {
            border-bottom: 1px solid rgba(0,0,0, 0.2);
        }
        &.User__repositories {
            @media screen and (max-width: $small-screen) {
                width: calc(100vw - 20px);
            }
        }
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__profile {
        margin-top: 20px;
        padding: 5px 30px;
    }

    &__repositories {
        &__container {
            margin-top: 20px;
            padding: 5px 30px;
            @media screen and (max-width: $small-screen) {
                padding: 5px 0;
            }
        }
    }

    &__message {
        font-weight: bolder;
    }
}