.UserRepositories {
    min-width: 200px;
    width: calc(100vw - 200px);
    display: block;

    &__header {
        display: flex;
        width:100%;
        &__title {
            margin: 0 auto;
            font-weight: bolder;
            text-align: center;
        }
    }
    &__list {
        display: flex;
        width:100%;
        &__title {
            margin: 0 auto;
            font-weight: bolder;
            text-align: center;
        }
    }
}